body {
    background-color: #343E59;
    color: #777;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:link,
a:visited {
    color: beige;
    text-decoration: none;
}

.menu-titulo {
    display: none;
}

.principal-titulo {
    display: flex;
    justify-content: space-between;
    /* Alinea los elementos en los extremos */
    width: 95%;
    padding: 0px 0px 0px 20px;
    color: #fff;
}

.principal-titulo h2 {
    display: inline-block;
    margin: 0;
}

.calendario #inicio, #fin {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    cursor: text;
    font-size: 14px;
    line-height: 20px;
    padding: 0 16px;
    height: 35px;
    background-color: #fff;
    border: 1px solid #d6d6e7;
    border-radius: 3px;
    color: rgb(35, 38, 59);
    box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
    overflow: hidden;
    transition: all 100ms ease-in-out;
    margin-bottom: 15px;
}

.cajas-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    color: #fff;
}

.caja {
    overflow: hidden;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    box-shadow: 0px 1px 15px 1px rgba(234, 233, 237, 0.08);
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.caja b {
    display: flex;
    justify-content: space-between;
    /* Alinea los elementos en los extremos */
    width: 100%;
    /* Ocupa todo el ancho del contenedor .caja */
}

.caja p {
    display: inline-block;
    margin: 0;
}

.caja:first-child {
    background-color: #175873;
}

.caja:nth-child(2) {
    background-color: #2B7C85;
}

.caja:nth-child(3) {
    background-color: #87ACA3;
}

.caja:nth-child(4) {
    background-color: #0C1446;
}



.caja2 {
    background-color: #fff;
    width: 200px;
}

.charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: #FF8300; */
    min-height: 30vh;
    margin: 10px 3px;
}

.chart-estilo-uno {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2B2D3E;
    box-shadow: 0px 1px 15px 1px rgba(234, 233, 237, 0.08);
    width: 400px;
    height: 210px; 
}

.chart-estilo-dos {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2B2D3E;
    height: 250px;
    width: 590px;
}

/* Pantalla mediana <= 992px */

@media screen and (max-width: 992px) {
    .cajas-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

/* Pantalla chica <= 768px */

@media screen and (max-width: 768px) {
    .cajas-container {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .charts-container {
        flex-direction: column;
        align-items: center;
    }
}